	<hr />
	<div class="row footer-row">
		<div class="col-xs-9">
			<p>
				<small>
					<span>
						NOIYS built by John / Sausage, written in <a href="http://nodejs.org/">node.js</a>, hosted on <a href="https://www.heroku.com/">Heroku</a>, made pretty with <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://glyphicons.com/">Glyphicons</a>.
					</span>
				</small>
			</p>
		</div>
		<div class="col-xs-3">
			<p>
				<small>
					<span style="float:right;">
						Done is better than perfect
					</span>
				</small>
			</p>
		</div>
	</div>
