<h1>
	<a href="http://www.noiys.com">NOIYS</a>
</h1>
<div class="row">
	<div class="col-md-12">
		<p>
			Post a note anonymously. It's viewed by many, then deleted. Try not to be a dick.
		</p>
	</div>
</div>