<h1>
	<a href="http://www.noiys.com">NOIYS</a>
</h1>
<div class="row">
	<div class="col-md-12">
		<p>
			Post a note anonymously. It's viewed by many, then deleted. Try not to be a dick.
		</p>
		<p>
			<div class="alert alert-info" role="alert">Currently (18th Dec) there's around a bajillion people trying to use Noiys. The server is like &quot;aaaah&quot;. You should probably come back tomorrow. Unless you like broken websites, in which case; enjoy!</div>
		</p>
	</div>
</div>