<!DOCTYPE html>
<html>
	<head>
		<title>
			NOIYS - Post, read, forget
		</title>

		<link rel="icon" href="/favicon.ico"/>
		
		<% include headRollbar %>
		<% include headBootstrap %>
		<% include headGoogleAnalytics %>
		<% include headTimeago %>

	</head>
	<body>
		<div class="container">
			<h1>
				NOIYS
			</h1>
			<p>
				Post a status anonymously. It's viewed by many, then deleted. Try not to be a dick.
			</p>
			<p>
				<textarea class="form-control" rows="3" id="statusText" /></textarea>
			</p>
			<p>
				<small>
					Your status will be automatically deleted after 24 hours
				</small>
			</p>
			<div class="row">
				<div class="col-md-6">
					<button type="button" class="btn btn-primary btn-lg" id="post_status">
						Post Status
					</button>
				</div>
				<div class="col-md-6">
				</div>
			</div>
			<br />
			<ul class="nav nav-tabs">
				<li class="active" id="tab-random">
					<a onclick="change_feed_type('random')" style="cursor:pointer">Random</a>
				</li>
				<li id="tab-chronological">
					<a onclick="change_feed_type('chronological')" style="cursor:pointer">Chronological</a>
				</li>
				<li id="tab-me">
					<a onclick="change_feed_type('me')" style="cursor:pointer">Me</a>
				</li>
				<li id="tab-stars">
					<a onclick="change_feed_type('stars')" style="cursor:pointer"><span class="glyphicon glyphicon-star"></span></a>
				</li>
			</ul>
			<br />
			<p>
				<button type="button" class="btn btn-default btn-xs" id="pause_feed">
					Pause Feed
				</button>
			</p>

			<div class="alert alert-warning" style="display:none;" id="main_error">
				Ah crap, the server returned an error. This is probably because it's been overloaded.
				It'll be back soon.
			</div>

			<div class="alert alert-info" style="display:none;" id="main_info">
			</div>

			<div class="statuses_wrap" id="random_statuses">
			</div>

			<div class="statuses_wrap" id="chronological_statuses" style="display:none;">


			<p style="text:align: centre" class="final">
				<button type="button" class="btn btn-default btn-xs" id="load_older_statuses">
					Load older statuses
				</button>
			</p>

			</div>
			<div class="statuses_wrap" id="me_statuses" style="display:none;">
			</div>
			<div class="statuses_wrap" id="stars_statuses" style="display:none;">
			</div>
			<div class="statuses_search" id="search_statuses" style="display:none;">
			</div>

		<br /><br /><hr>

		<div class="row">
				<div class="col-md-6">
					<small><span style="color:#BBB">NOIYS built by John Kershaw, written in node.js and hosted on Heroku.</span></small>
				</div>
				<div class="col-md-6">
				</div>
			</div>


		</div>


		<script src="/javascript/noiys.js"></script>
	</body>

</html>