<!DOCTYPE html>
<html>
	<head>
		<title>
			NOIYS - Post, read, forget
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- JavaScript plugins (requires jQuery) -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
												        
		</script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
																		            
			</script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js">
																		            
			</script>
		<![endif]-->
		<!-- Include all compiled plugins (below), or include individual files as needed
		-->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js">
												        
		</script>
	</head>
	<body>
		<div class="container">
			<h1>
				NOIYS
			</h1>
			<p>
				Post a status anonymously. It's viewed by many, then deleted. Try not to be a dick.
			</p>
			<p>
				<textarea class="form-control" rows="3" id="statusText"></textarea>
			</p>
			<p>
				<small>
					Your status will be automatically deleted after 24 hours
				</small>
			</p>

			<div class="row">
				<div class="col-md-6">
					<button type="button" class="btn btn-primary btn-lg" id="post_status">
						Post Status
					</button>
					<button type="button" class="btn btn-default btn-xs" id="pause_feed">
						Pause Feed
					</button>
				</div>
				<div class="col-md-6">
					<div class="btn-group" data-toggle="buttons" style="float:right">
						<label class="btn btn-default btn-xs active">
							<input type="radio" name="feed_type" id="feed_random" value="feed_random">
							Random
						</label>
						<label class="btn btn-default btn-xs">
							<input type="radio" name="feed_type" id="feed_chronological" value="feed_chronological" >
							Chronological
						</label>
					</div>
					
				</div>
			</div>
			
			<br />
			
			<div id="statuses">
			</div>

		</div>
		<script type="text/javascript">
						var paused = false;
						var feed_type = "random";
						var random_status_timeout, chronological_status_timeout;
						var most_recent_status_timestamp;

						$(document).ready(function() {
							random_status_timeout = setTimeout(get_and_show_random_status, 1000);
						});

						function get_and_show_random_status() {

							if (paused === false) {
								$.get("status", function(status) {
									publish_status(status)
								});
							}

							random_status_timeout = setTimeout(get_and_show_random_status, Math.floor((Math.random() * 10000) + 1));
						}

						function get_and_show_chronological_status() {

							if (paused === false) {
								if (!most_recent_status_timestamp)
								{
									$.get("timestamp", function(current_timestamp) {
										most_recent_status_timestamp = current_timestamp - 360;
										get_and_show_chronological_status();
									});

								} else {
									$.get("status?since=" + most_recent_status_timestamp, function(status) {

										most_recent_status_timestamp = status.timestamp;
										publish_status(status)
									});
								}
							}

							chronological_status_timeout = setTimeout(get_and_show_chronological_status, 3000);
						}

						$("#post_status").click(function() {
							$('#post_status').prop('disabled', true);
							$('#post_status').text("Posting ...");

							$.ajax({
								url: '/status',
								type: 'POST',
								contentType: 'application/json',
								data: JSON.stringify({
									text: $('#statusText').val()
								})
							}).done(function(data) {
								$('#post_status').prop('disabled', false);
								$('#post_status').text("Posted!");
								$('#statusText').val("");

								setTimeout(set_posted_button, 2000);
							});
						});

						$("#pause_feed").click(function() {
							if (paused === true) {
								paused = false;
								$('#pause_feed').text("Pause Feed");
							} else {
								paused = true;
								$('#pause_feed').text("Un-pause Feed");
							}
						});

						$("input:radio[name=feed_type]").change(function () {
							var val = $('input:radio[name=feed_type]:checked').val();

							if (val == "feed_random") {
								feed_type = "random";
								clearTimeout(chronological_status_timeout);
								random_status_timeout = setTimeout(get_and_show_random_status, 1000);
							} else if (val == "feed_chronological") {
								feed_type = "chronological";
								clearTimeout(random_status_timeout);
								chronological_status_timeout = setTimeout(get_and_show_chronological_status, 1000);
							}
						});

						function publish_status(status)
						{

							// delete existing posts with this ID
							$("#statuses #" + status.id).remove();

							// show new one
							$("#statuses").prepend("<div style=\"display:none\" class=\"panel panel-default status_panel\" id=\"" + status.id + "\"><div class=\"panel-body\"><p>" + status.text + " </p><div class=\"row\"><div class=\"col-md-8\"><small><span style=\"font-weight:bold;\" class=\"votes\">" + status.votes + "</span>  <a style=\"cursor:pointer;\" onclick=\"vote('" + status.id + "')\" ><span class=\"glyphicon glyphicon-heart\"></span></a> <a style=\"cursor:pointer\" onclick=\"reply('" + status.id + "');\">reply</a></small></div><div class=\"col-md-4\"><small><span style=\"float:right;color:#888;\">posted " + timeSince(status.age) + " ago</span></small></div>");

							$("#statuses div").first().hide().fadeIn();

						}

						function vote(id) {
							$("#" + id + " .votes").text(parseInt($("#" + id + " .votes").text()) + 1);
							$("#" + id + " .glyphicon-heart").css("color", "green");

							$.ajax({
								url: '/vote',
								type: 'POST',
								contentType: 'application/json',
								data: JSON.stringify({
									id: id
								})
							}).done(function(data) {
								//something?
							});
						}

						function reply(id) {
							var newText = "@" + id + "\n" + $('#statusText').val();
							$('#statusText').val(newText);
						}

						function set_posted_button() {
							$('#post_status').text("Post Status");
						}

						function timeSince(delta) {

							var ps, pm, ph, pd, min, hou, sec, days;

							if (delta <= 59) {
								ps = (delta > 1) ? "s" : "";
								return delta + " second" + ps
							}

							if (delta >= 60 && delta <= 3599) {
								min = Math.floor(delta / 60);
								sec = delta - (min * 60);
								pm = (min > 1) ? "s" : "";
								ps = (sec > 1) ? "s" : "";
								return min + " minute" + pm + " " + sec + " second" + ps;
							}

							if (delta >= 3600 && delta <= 86399) {
								hou = Math.floor(delta / 3600);
								min = Math.floor((delta - (hou * 3600)) / 60);
								ph = (hou > 1) ? "s" : "";
								pm = (min > 1) ? "s" : "";
								return hou + " hour" + ph + " " + min + " minute" + pm;
							}

							if (delta >= 86400) {
								days = Math.floor(delta / 86400);
								hou = Math.floor((delta - (days * 86400)) / 60);
								pd = (days > 1) ? "s" : "";
								ph = (hou > 1) ? "s" : "";
								return delta + " day" + pd + " " + hou + " hour" + ph;
							}

						}
		</script>
	</body>

</html>