<!DOCTYPE html>
<html>
	<head>
		<title>
			NOIYS - Post, read, forget
		</title>

<script>
var _rollbarParams = {"server.environment": "production"};
_rollbarParams["notifier.snippet_version"] = "2"; var _rollbar=["2909848dae4c45afa0444a227b4163cb", _rollbarParams]; var _ratchet=_rollbar;
(function(w,d){w.onerror=function(e,u,l,c,err){_rollbar.push({_t:'uncaught',e:e,u:u,l:l,c:c,err:err});};var i=function(){var s=d.createElement("script");var 
f=d.getElementsByTagName("script")[0];s.src="//d37gvrvc0wt4s1.cloudfront.net/js/1/rollbar.min.js";s.async=!0;
f.parentNode.insertBefore(s,f);};if(w.addEventListener){w.addEventListener("load",i,!1);}else{w.attachEvent("onload",i);}})(window,document);
</script>


		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- JavaScript plugins (requires jQuery) -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
												        
		</script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
																		            
			</script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js">
																		            
			</script>
		<![endif]-->
		<!-- Include all compiled plugins (below), or include individual files as needed
		-->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js">
												        
		</script>

		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-431964-20', 'noiys.com');
  ga('send', 'pageview');

</script>

<script>

/**
 * Timeago is a jQuery plugin that makes it easy to support automatically
 * updating fuzzy timestamps (e.g. "4 minutes ago" or "about 1 day ago").
 *
 * @name timeago
 * @version 1.3.0
 * @requires jQuery v1.2.3+
 * @author Ryan McGeary
 * @license MIT License - http://www.opensource.org/licenses/mit-license.php
 *
 * For usage and examples, visit:
 * http://timeago.yarp.com/
 *
 * Copyright (c) 2008-2013, Ryan McGeary (ryan -[at]- mcgeary [*dot*] org)
 */

(function (factory) {
  if (typeof define === 'function' && define.amd) {
    // AMD. Register as an anonymous module.
    define(['jquery'], factory);
  } else {
    // Browser globals
    factory(jQuery);
  }
}(function ($) {
  $.timeago = function(timestamp) {
    if (timestamp instanceof Date) {
      return inWords(timestamp);
    } else if (typeof timestamp === "string") {
      return inWords($.timeago.parse(timestamp));
    } else if (typeof timestamp === "number") {
      return inWords(new Date(timestamp));
    } else {
      return inWords($.timeago.datetime(timestamp));
    }
  };
  var $t = $.timeago;

  $.extend($.timeago, {
    settings: {
      refreshMillis: 60000,
      allowFuture: false,
      localeTitle: false,
      cutoff: 0,
      strings: {
        prefixAgo: null,
        prefixFromNow: null,
        suffixAgo: "ago",
        suffixFromNow: "from now",
        seconds: "less than a minute",
        minute: "about a minute",
        minutes: "%d minutes",
        hour: "about an hour",
        hours: "about %d hours",
        day: "a day",
        days: "%d days",
        month: "about a month",
        months: "%d months",
        year: "about a year",
        years: "%d years",
        wordSeparator: " ",
        numbers: []
      }
    },
    inWords: function(distanceMillis) {
      var $l = this.settings.strings;
      var prefix = $l.prefixAgo;
      var suffix = $l.suffixAgo;
      if (this.settings.allowFuture) {
        if (distanceMillis < 0) {
          prefix = $l.prefixFromNow;
          suffix = $l.suffixFromNow;
        }
      }

      var seconds = Math.abs(distanceMillis) / 1000;
      var minutes = seconds / 60;
      var hours = minutes / 60;
      var days = hours / 24;
      var years = days / 365;

      function substitute(stringOrFunction, number) {
        var string = $.isFunction(stringOrFunction) ? stringOrFunction(number, distanceMillis) : stringOrFunction;
        var value = ($l.numbers && $l.numbers[number]) || number;
        return string.replace(/%d/i, value);
      }

      var words = seconds < 45 && substitute($l.seconds, Math.round(seconds)) ||
        seconds < 90 && substitute($l.minute, 1) ||
        minutes < 45 && substitute($l.minutes, Math.round(minutes)) ||
        minutes < 90 && substitute($l.hour, 1) ||
        hours < 24 && substitute($l.hours, Math.round(hours)) ||
        hours < 42 && substitute($l.day, 1) ||
        days < 30 && substitute($l.days, Math.round(days)) ||
        days < 45 && substitute($l.month, 1) ||
        days < 365 && substitute($l.months, Math.round(days / 30)) ||
        years < 1.5 && substitute($l.year, 1) ||
        substitute($l.years, Math.round(years));

      var separator = $l.wordSeparator || "";
      if ($l.wordSeparator === undefined) { separator = " "; }
      return $.trim([prefix, words, suffix].join(separator));
    },
    parse: function(iso8601) {
      var s = $.trim(iso8601);
      s = s.replace(/\.\d+/,""); // remove milliseconds
      s = s.replace(/-/,"/").replace(/-/,"/");
      s = s.replace(/T/," ").replace(/Z/," UTC");
      s = s.replace(/([\+\-]\d\d)\:?(\d\d)/," $1$2"); // -04:00 -> -0400
      return new Date(s);
    },
    datetime: function(elem) {
      var iso8601 = $t.isTime(elem) ? $(elem).attr("datetime") : $(elem).attr("title");
      return $t.parse(iso8601);
    },
    isTime: function(elem) {
      // jQuery's `is()` doesn't play well with HTML5 in IE
      return $(elem).get(0).tagName.toLowerCase() === "time"; // $(elem).is("time");
    }
  });

  // functions that can be called via $(el).timeago('action')
  // init is default when no action is given
  // functions are called with context of a single element
  var functions = {
    init: function(){
      var refresh_el = $.proxy(refresh, this);
      refresh_el();
      var $s = $t.settings;
      if ($s.refreshMillis > 0) {
        setInterval(refresh_el, $s.refreshMillis);
      }
    },
    update: function(time){
      $(this).data('timeago', { datetime: $t.parse(time) });
      refresh.apply(this);
    },
    updateFromDOM: function(){
      $(this).data('timeago', { datetime: $t.parse( $t.isTime(this) ? $(this).attr("datetime") : $(this).attr("title") ) });
      refresh.apply(this);
    }
  };

  $.fn.timeago = function(action, options) {
    var fn = action ? functions[action] : functions.init;
    if(!fn){
      throw new Error("Unknown function name '"+ action +"' for timeago");
    }
    // each over objects here and call the requested function
    this.each(function(){
      fn.call(this, options);
    });
    return this;
  };

  function refresh() {
    var data = prepareData(this);
    var $s = $t.settings;

    if (!isNaN(data.datetime)) {
      if ( $s.cutoff == 0 || distance(data.datetime) < $s.cutoff) {
        $(this).text(inWords(data.datetime));
      }
    }
    return this;
  }

  function prepareData(element) {
    element = $(element);
    if (!element.data("timeago")) {
      element.data("timeago", { datetime: $t.datetime(element) });
      var text = $.trim(element.text());
      if ($t.settings.localeTitle) {
        element.attr("title", element.data('timeago').datetime.toLocaleString());
      } else if (text.length > 0 && !($t.isTime(element) && element.attr("title"))) {
        element.attr("title", text);
      }
    }
    return element.data("timeago");
  }

  function inWords(date) {
    return $t.inWords(distance(date));
  }

  function distance(date) {
    return (new Date().getTime() - date.getTime());
  }

  // fix for IE6 suckage
  document.createElement("abbr");
  document.createElement("time");
}));

</script>
	</head>
	<body>
		<div class="container">
			<h1>
				NOIYS
			</h1>
			<p>
				Post a status anonymously. It's viewed by many, then deleted. Try not to be a dick.
			</p>
			<p>
				<textarea class="form-control" rows="3" id="statusText"></textarea>
			</p>
			<p>
				<small>
					Your status will be automatically deleted after 24 hours
				</small>
			</p>

			<div class="row">
				<div class="col-md-6">
					<button type="button" class="btn btn-primary btn-lg" id="post_status">
						Post Status
					</button>
					<button type="button" class="btn btn-default btn-xs" id="pause_feed">
						Pause Feed
					</button>
				</div>
				<div class="col-md-6">
					<div class="btn-group" data-toggle="buttons" style="float:right">
						<label class="btn btn-default btn-xs active">
							<input type="radio" name="feed_type" id="feed_random" value="feed_random">
							Random
						</label>
						<label class="btn btn-default btn-xs">
							<input type="radio" name="feed_type" id="feed_chronological" value="feed_chronological" >
							Chronological
						</label>
					</div>
					
				</div>
			</div>
			
			<br />

			<div class="alert alert-warning" style="display:none;" id="main_error">Ah crap, the server returned an error. This is probably because it's been overloaded. It'll be back soon.</div>

			
			<div id="statuses">
			</div>

		</div>
		<script type="text/javascript">
						var paused = false;
						var feed_type = "random";
						var random_status_timeout, chronological_status_timeout;
						var most_recent_status_timestamp;

						$(document).ready(function() {
							random_status_timeout = setTimeout(get_and_show_random_status, 1000);
						});

						function get_and_show_random_status() {

							if (paused === false) {
								$.get("status", function(status) {
									publish_status(status, "#statuses");
									$("#main_error").hide();
								});
							}

							random_status_timeout = setTimeout(get_and_show_random_status, Math.floor((Math.random() * 10000) + 1));

						}

						function get_and_show_chronological_status() {

							if (paused === false) {
								if (!most_recent_status_timestamp)
								{
									$.get("timestamp/chronologicalstartpoint", function(current_timestamp) {
										most_recent_status_timestamp = current_timestamp;
										get_and_show_chronological_status();
									});

								} else {
									$.ajax({
										url: "status?since=" + most_recent_status_timestamp,
										type: 'GET',
										contentType: 'application/json',
										complete: function(xhr, textStatus) {
											if(xhr.status == 503){
												$("#main_error").show();
												_rollbar.push("503 error: " + "status?since=" + most_recent_status_timestamp);
											} else {
												$("#main_error").hide();
											}
										} 
									}).done(function(status) {
										most_recent_status_timestamp = status.timestamp;
										publish_status(status, "#statuses");
									}).fail(function() {
										console.debug("No new statuses found");
									}).always(function() {
										chronological_status_timeout = setTimeout(get_and_show_chronological_status, 3000);
									});
								}
							} else {
								chronological_status_timeout = setTimeout(get_and_show_chronological_status, 3000);
							}

						}

						$("#post_status").click(function() {
							$('#post_status').prop('disabled', true);
							$('#post_status').text("Posting ...");

							$.ajax({
								url: '/status',
								type: 'POST',
								contentType: 'application/json',
								data: JSON.stringify({
									text: $('#statusText').val()
								}),
								complete: function(xhr, textStatus) {
									if(xhr.status == 503){
										_rollbar.push("503 error saving status");
										$("#main_error").show();
									} else {
										$("#main_error").hide();
									}
								} 
							}).done(function(data) {
								$('#post_status').prop('disabled', false);
								$('#post_status').text("Posted!");
								$('#statusText').val("");

								setTimeout(set_posted_button, 3000);
							});
						});

						$("#pause_feed").click(function() {
							if (paused === true) {
								paused = false;
								$('#pause_feed').text("Pause Feed");
							} else {
								paused = true;
								$('#pause_feed').text("Un-pause Feed");
							}
						});

						$("input:radio[name=feed_type]").change(function () {
							var val = $('input:radio[name=feed_type]:checked').val();

							if (val == "feed_random") {
								feed_type = "random";
								clearTimeout(chronological_status_timeout);
								random_status_timeout = setTimeout(get_and_show_random_status, 1000);
							} else if (val == "feed_chronological") {
								feed_type = "chronological";
								clearTimeout(random_status_timeout);
								chronological_status_timeout = setTimeout(get_and_show_chronological_status, 1000);
							}
						});

						function publish_status(status, wrapper)
						{
							// delete existing posts with this ID
							$(wrapper + " #" + status.id).remove();

							//are there any responses?
							var response_string = "";
							if (status.responses){
								if (status.responses.length == 1)
								{
									response_string = "1 reply";
								} else {
									response_string = String(status.responses.length) + " replies";
								}

								responses_array_string = "'" + status.responses.join("', '") + "'";
								
								response_string = "<a style=\"cursor:pointer\" onclick=\"show_replies('" + status.id + "', [" + responses_array_string + "])\">" + response_string + "</a>";

							}

							// show new one
							$(wrapper).prepend("<div style=\"display:none\" class=\"panel panel-default status_panel\" id=\"" + status.id + "\"><div class=\"panel-body\"><p>" + status.text + " </p><div class=\"row\"><div class=\"col-md-4\"><small><span style=\"font-weight:bold;\" class=\"votes\">" + status.votes + "</span>  <a style=\"cursor:pointer;\" onclick=\"vote('" + status.id + "')\" ><span class=\"glyphicon glyphicon-heart\"></span></a> <a style=\"cursor:pointer\" onclick=\"reply('" + status.id + "');\">reply</a></small></div><div class=\"col-md-4\" style=\"text-align:center\"><small>" + response_string + "</small></div><div class=\"col-md-4\"><small><span style=\"float:right;color:#888;\">posted <span class=\"timeago\" title=\"" + status.ISO8601timestamp + "\"></span></span></small></div></div><div class=\"responses\"></div></div>");

							$(wrapper + " div").first().hide().fadeIn();


							$("span.timeago").timeago();

						}

						function vote(id) {
							$("#" + id + " .votes").text(parseInt($("#" + id + " .votes").text()) + 1);
							$("#" + id + " .glyphicon-heart").css("color", "green");

							$.ajax({
								url: '/vote',
								type: 'POST',
								contentType: 'application/json',
								data: JSON.stringify({
									id: id
								})
							}).done(function(data) {
								//something?
							});
						}

						function reply(id) {
							var newText = "@" + id + "\n" + $('#statusText').val();
							$('#statusText').val(newText).focus();
							$('html, body').animate({ scrollTop: 0 }, 'fast');
						}

						function set_posted_button() {
							$('#post_status').text("Post Status");
						}

						function show_replies(status_id, replies_ids ){
							for(var i = 0; i < replies_ids.length; i++){
								// get the status from the ID, append it to the status
								$.get("status/"+replies_ids[i], function(status) {
									publish_status(status, "#" + status_id + " .responses");
								});
							}
						}

						function timeSince(delta) {

							var ps, pm, ph, pd, min, hou, sec, days;

							if (delta <= 59) {
								ps = (delta > 1) ? "s" : "";
								return delta + " second" + ps
							}

							if (delta >= 60 && delta <= 3599) {
								min = Math.floor(delta / 60);
								sec = delta - (min * 60);
								pm = (min > 1) ? "s" : "";
								ps = (sec > 1) ? "s" : "";
								return min + " minute" + pm + " " + sec + " second" + ps;
							}

							if (delta >= 3600 && delta <= 86399) {
								hou = Math.floor(delta / 3600);
								min = Math.floor((delta - (hou * 3600)) / 60);
								ph = (hou > 1) ? "s" : "";
								pm = (min > 1) ? "s" : "";
								return hou + " hour" + ph + " " + min + " minute" + pm;
							}

							if (delta >= 86400) {
								days = Math.floor(delta / 86400);
								hou = Math.floor((delta - (days * 86400)) / 60);
								pd = (days > 1) ? "s" : "";
								ph = (hou > 1) ? "s" : "";
								return delta + " day" + pd + " " + hou + " hour" + ph;
							}

						}
		</script>
	</body>

</html>