<!DOCTYPE html>
<html>
  <head>
    <title>NOIYS - Post, read, forget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<div class="container">
    <h1>NOIYS</h1>
    <p>Post a status anonymously. It's viewed by many, and deleted after 24 hours.</p>

    <p><textarea class="form-control" rows="3"></textarea></p>
    <p><button type="button" class="btn btn-primary btn-lg">Post Status</button></p>
    <p><small>Your status will be deleted after 24 hours</small></p>

	<div id="statuses">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Sample status
		  </div>
		</div>
	</div>
</div>
<script type="text/javascript">

function get_and_show_random_status() {
	console.log("get_and_show_random_status called");

 	$.get( "status", function( data ) {
 		console.debug(data);
 		$("#statuses").prepend("<div class='panel panel-default'><div class='panel-body>" + data.text + "</div></div>");
 		window.setTimeout(get_and_show_random_status(), 20000);
        }
    );        
}

$(document).ready(function () {
        get_and_show_random_status();
    });


</script>
  </body>
</html>