<!DOCTYPE html>
<html>
	<head>
		<title>
			NOIYS - Post, read, forget
		</title>
		<link rel="icon" href="/favicon.ico" />

		<% include headRollbar %>
		<% include headGoogleAnalytics %>
		<% include headBootstrap %>
	</head>
	<body>
		<div class="container">
			<h1>
				<a href="http://www.noiys.com">NOIYS</a>
			</h1>
			<p>
				Post a status anonymously. It's viewed by many, then deleted. Try not to be a dick.
			</p>
			<br /><br />
			<div class="panel panel-default status_panel id-52c45ca11961f85d0b000005" timestamp="1388600481" id="52c45ca11961f85d0b000005">
				<div class="panel-body">
					<p><%-text%></p>
				</div>
			</div>
			<% include footer %>
		</div>
	</body>

</html>