<!DOCTYPE html>
<html>
	<head>
		<title>
			NOIYS - Post, read, forget
		</title>
		<link rel="icon" href="/favicon.ico" />

		<% include headRollbar %>
		<% include headGoogleAnalytics %>
		<% include headBootstrap %>
		<% include customCSS %>
	</head>
	<body>
		<div class="container">
			<h1>
				<a href="http://www.noiys.com">NOIYS</a>
			</h1>

			<p>The note you are looking for no longer exists. Notes on NOIYS are automatically deleted after 24 hours. 
				Worse things happen at sea.</p>
			
		<% include footer %>
		</div>
	</body>

</html>