<!DOCTYPE html>
<html>
	<head>
		<title>
			NOIYS - Post, read, forget
		</title>
		<link rel="icon" href="/favicon.ico" />

		<% include headRollbar %>
		<% include headGoogleAnalytics %>
		<% include headBootstrap %>
	</head>
	<body>
		<div class="container">
			<% include header %>
			<br /><br />
			<div class="panel panel-default status_panel id-52c45ca11961f85d0b000005" timestamp="1388600481" id="52c45ca11961f85d0b000005">
				<div class="panel-body">
					<p><%-text%></p>
				</div>
			</div>
			<br />
			<% include footer %>
		</div>
	</body>

</html>